<table class="login-form">
  <tr>
    <td class="cntr"><%= link_to 'Войти', new_user_session_path, {class: 'btn btn-default btn-block'} %></td>
    <td class="cntr"><%= link_to 'Регистрация', new_user_registration_path, {class: 'btn btn-default btn-block'} %></td>
  </tr>
</table>
