<%= form_tag('/signout', method: 'post', class: 'h100perc') do %>
    <table class="signed-form">
      <tr>
        <td class="title"><strong>Привет, <%= current_user.email %>!</strong></td>
        <td class="cntr"><%= link_to 'ВЫЙТИ', destroy_user_session_path, :method => :delete, class: 'btn btn-exit-color text-bold ' %></td>
      </tr>
    </table>
<% end %>