/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 0.5em;
}
.mr-5 {
    margin-right: 0.5em;
}
.ml-5 {
    margin-left: 0.5em;
}
.mb-5 {
    margin-bottom: 0.5em;
}
.mb-10 {
    margin-bottom: 1em;
}
.mt-10 {
     margin-top: 1em;
 }


.cntr {
    text-align: center;
}
.pl-10 {
    padding-left: 1em;
}
.pr-10 {
    padding-right: 1em;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 1em;
}
.pb-10 {
    padding-bottom: 1em;
}
.border-bottom {
    border-bottom: 1px solid #dddddd;
}
.ta-right {
    text-align: right;
}
.ta-left{
    text-align: left;
}
.va-top {
    vertical-align: top;
}
.h100perc {
    height: 100%;
}
.w100perc {
    width: 100%;
}
.w300 {
    width: 300px;
}
.h30 {
    height: 30px;
}
.resize-vertical {
    resize: vertical;
}

.font-georgia {
    font-family: Georgia;
}

.font-numbers {
    font-family: "Modern No. 20";
}

.font-cambria {
    font-family: Cambria;

}

.font-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-26 {
    font-size: 26px;
}
