// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.releases-table > tbody tr td {
  vertical-align: middle !important;
}

.about-movie-table {
  width: 68%;
  margin-bottom: 1em;
  > tbody tr > td:nth-child(2) {
    width: 70%;
  }
}

.edit-new-film-form {
  width: 100%;
  tr > td {
    width: 60%;
  }
  tr td:nth-child(2) {
    text-align: center;
    padding-left: 1em;
  }
}