// ЦВЕТОВАЯ СХЕМА
$lightblue: #D5E9F7;
$softblue: #94cef7;
$richblue: #327FB6;
$dirtyblue: #3D7094;
$darkblue: #175886;
$lightgreen: #EDFDD7;
$softgreen: #CEFD91;
$richgreen: #9DED36;
$dirtygreen: #8CC148;
$darkgreen: #6EAF19;
$lightpink: #FCD6E6;
$softpink: #FC90BE;
$richpink: #E1337C;
$dirtypink: #B74474;
$darkpink: #A61753;
$lightorange: #FFEED9;
$softorange: #FFD092;
$richorange: #FFA93A;
$dirtyorange: #CF964D;
$darkorange: #BC761A;

div.container {
  width: 900px;
  margin: 0.5em auto;
}
header {
  width: 100%;
  .header-table {
    border-radius: 4px;
    background-color: $softblue;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    > tbody tr {
      td:nth-child(1) {
        width: 50%;
      }
      td:last-child {
        width: 12.5%;
      }
    }
    > tbody > tr {
      td:nth-child(2) {
        width: 25%;
      }
      td:nth-child(3) {
        width: 12.5%;
      }
    }
  }
  table.login-form {
    width: 100%;
    height: 100%;
  }
  table.login-form tr td {
    width: 50%;
  }
  table.signed-form {
    width: 100%;
    height: 100%;
  }
  table.signed-form tr > td {
    text-align: center;
  }
  table.signed-form tr > td:nth-child(2) {
    text-align: right;
    padding-right: 0.2em;
  }
  .search-form {
    width: 100%;
    height: 50%;
  }
}

div.content {
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
}

div.movie-details {
  min-height: 450px;
}
.poster {
  width: 250px;
  height: 350px;
}
.panel-review {
}

.reviews {
  width: 100%;
  p{
    color: black;
  }
  a {
    margin-left: 0.5em;
    float: right;
  }
  .review {
    margin-top: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 4px;
    box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.4);

  }
  .review-bad {
    color: $darkpink;
    border: 1px solid $darkpink;
    background-color: $lightpink;
  }
  .review-good {
    color: $darkblue;
    border: 1px solid $darkblue;
    background-color: $lightblue;
  }
}

.btn-nav-size {
  width: 206px;
  height: 35px;
}
.btn-width-size {
  width: 112px !important;
}

.btn-reg-size {
  width: 162px;
}


.btn-header-color {
   color: $lightblue;
   background-color: $richblue;
  &:hover {
    color: $richblue;
    background-color: $lightblue;
    border: 1px solid $richblue;
  }
 }

.btn-enter-color {
  color: $lightgreen;
  background-color: $darkgreen;
  &:hover {
    color: $darkgreen;
    background-color: $lightgreen;
    border: 1px solid $darkgreen;
  }
}

li.btn-add-new-film {
  background-color: $lightgreen;
  a {
    color: $darkgreen !important;
  }
  &:hover {
    a {
      color: $lightgreen !important;
    }
    background-color: $darkgreen;
    border: 1px solid $lightgreen;
  }
}

li.btn-users {
  background-color: $lightorange;
  a {
    color: $richorange !important;
  }
  &:hover {
    a {
      color: $lightorange !important;
    }
    background-color:  $richorange;
    border: 1px solid $lightorange;
  }
}

.btn-nav-color {
  background-color: $lightblue;
  &:hover {
    background-color: $richblue;
  }
}

.nav-justified {
  padding-left: 0;

  li {
    padding: 0;
    a {
      padding-top: 0.3em;
      display: block;
      height: 100%;
      color: $richblue;
      text-decoration: none;
    }
  }
  li:hover a {
    display: block;
    color: $lightblue;
    text-decoration: none;
  }
}

.box-shadow {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.125)  !important;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  }

.active:hover {
  color: $lightblue;
  background-color: $richblue;
}
li.active-new-film {
  a {
  color: $darkgreen !important;
  }
  &:hover {
    a {
      color: $lightgreen !important;
    }
    background-color: $darkgreen;
  }
}

li.active-users {
  a {
    color: $richorange !important;
  }
  &:hover {
    a {
      color: $lightorange !important;
    }
    background-color: $richorange;
  }
}

.title {
  color: $richblue;
}

.btn-no-review-color {
  color: $lightorange;
  background-color: #f5ca8c;
}

.btn-exit-color {
  color: $lightorange;
  background-color: $richorange;
  &:hover {
    color: $richorange;
    background-color: $lightorange;
    border: 1px solid $richorange;
  }
}

.btn-unknown {
  color: $dirtygreen;
  background-color: $lightgreen;
  &:hover {
    color: $lightgreen;
    background-color: $dirtygreen;
  }
}

.btn-female {
  color: $richpink;
  background-color: $lightpink;
  &:hover {
    color: $lightpink;
    background-color: $softpink;
  }
}

.btn-male {
  color: $darkblue;
  background-color: $lightblue;
  &:hover {
    color: #d5e9ee;
    background-color: $richblue;
  }
}

.table-hover {
  tbody tr:hover {
    background-color: rgba(245,245, 245, 0.4)
  }
}

.table-movie-month {
  background-color: rgba($lightorange, 0.4);
  color: $dirtypink;
}

.table-more-inf {
  color: $richblue;
  background-color: $lightblue;
  border: 1px solid $richblue;
  &:hover {
    color: $lightblue;
    background-color: $richblue;
  }
}

.btn-group-border {
  border-left: 1px solid $richblue;
}

.table-tr {
  color: black;
  background-color: rgba(255,255, 255, 0);
  &:hover {
    color: black;
    background-color: rgba(245,245, 245, 0.4)
  }
}

.change-to-admin {
  color: $darkgreen;
  background-color: $lightgreen;
  border: 1px solid $darkgreen;
  &:hover {
    color: $lightgreen;
    background-color: $darkgreen;
  }
}

.change-to-user {
  color: $richorange;
  background-color: $lightorange;
  border: 1px solid $richorange;
  &:hover {
    color: $lightorange;
    background-color: $richorange;
  }
}

.change-to-editor {
  color: $richblue;
  background-color: $lightblue;
  border: 1px solid $richblue;
  &:hover {
    color: $lightblue;
    background-color: $richblue;
  }
}

.font-dark-blue {
  color: $darkblue;
}

.font-dark-green {
  color: $darkgreen;
  &:hover {
    color: $darkgreen;
  }
}

footer {
  color: $darkblue;
  background-color: $softblue;
  margin: 0;
  padding: 7px 15px 0 0;
  height: 35px;
  border-radius: 4px;
  h4 {
    margin: 0;
    padding: 0;
  }
}

/* COLORS */

.font-black         { color: black; }
.font-dark-pink     { color: $darkpink; }
.link-reg {
  color: $richpink;
  &:hover {
    color: $richpink;
  }
}

.image-size {
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.font-darkgray-color {
  color: #505050;
}

.like-movies-link {
  color: #505050;
  &:hover {
    color: #505050;
  }
}

@font-face {
  font-family: 'broadway'; /* Гарнитура шрифта */
  src:  url(asset-path('broadw__.ttf'));
}
.font-broadway {
  font-family: 'broadway';
}

.selected-item {
  a:last-child {
    border: 1px solid white;
  }
  img {
    width: 12px;
    height: 12px;
  }
  margin: 5px;
  padding: 2px;
}

.page-header {
  border: none;
}
blockquote {
  border-left: 5px solid #ddd;
}