body {
  div.container {
    width: 900px;
    margin: 0.5em auto;
  }
  header {
    width: 100%;
    .header-table {
      border-radius: 4px;
      background-color: #94cef7;
      width: 100%;
      border-collapse: separate;
      border-spacing: 5px;
      > tbody tr {
        td:nth-child(1) {
          width: 50%;
        }
        td:last-child {
          width: 12.5%;
        }
      }
      > tbody > tr {
        td:nth-child(2) {
          width: 25%;
        }
        td:nth-child(3) {
          width: 12.5%;
        }
      }
    }


    table.login-form {
      width: 100%;
      height: 100%;
    }
    table.login-form tr td {
      width: 50%;
    }
    table.signed-form {
      width: 100%;
      height: 100%;
    }
    table.signed-form tr > td {
      text-align: center;
    }
    table.signed-form tr > td:nth-child(2) {
      text-align: right;
      padding-right: 0.2em;
    }
    .search-form {
      width: 100%;
      height: 50%;
    }
  }

  table.search {
    tr > td:nth-child(2) {
      padding-left: 0.2em;
    }
  }

  div.content {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
  footer.panel {
    text-align: right;
    margin-bottom: 0;
    h4 {
      margin: 0;
      padding: 0;
    }
  }
}
div.movie-details {
  min-height: 450px;
}
div.no_reviews {
  width: 200px;
  height: 50px;
  margin-top: 0;
  background-color: #6f5499;
  text-align: center;
  color: white;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.4);
}
table.reviews {
  width: 100%;
  div.review {
    margin-top: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 4px;
    box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.4);
  }
}
h1 {
  margin-top: 5px;
}

.review-title-user-good {
  color: #a61753;
  background-color: #fcd6e6;
  text-align: left;
  border: 1px solid #a61753;
  a {
    margin-left: 0.5em;
    float: right;
  }
}

.review-text-good {
  color: black;
  background-color: #fcd6e6;
  text-align: left;
}

.review-text-bad {
  color: black;
  background-color: #d5e9f7;
  text-align: left;
}

.review-title-user-bad {
  color: #175886;
  background-color: #d5e9f7;
  text-align: right;
  border: 1px solid #175886;
  a {
    margin-left: 0.5em;
    float: left;
  }
}
.btn-nav-size {
  width: 206px;
  height: 35px;
}

.title {
  color: #327fb6;

}
.smaller-title {
  color: #327fb6;

}

.film-review {
  color: black;

}

.btn-header-color {
  color: #327FB6;
  background-color: #D5E9F7;
}
.btn-header-color:hover {
  color: #D5E9F7;
  background-color: #327FB6;
}
.btn-nav-color {
  background-color: #CEFD91;
}
.btn-nav-color:hover {
  background-color: #6EAF19;
}
.btn-search-color {
  color: #D5E9F7;
  background-color: #327FB6;
 }
.btn-search-color:hover {
  color: #327FB6;
  background-color: #D5E9F7;
}

.btn-no-review-color {
  color: #ffeed9;
  background-color: #f5ca8c;
}

.text-bold {
  font-weight: bold;
}

.btn-exit-color {
  color: #ffeed9;
  background-color: #ffa93a;
}

.btn-exit-color:hover {
  color: #ffa93a;
  background-color: #ffeed9;
}

.btn-enter-color {
  color: #EDFDD7;
  background-color: #6EAF19;
}

.btn-enter-color:hover {
  color: #6EAF19;
  background-color: #CEFD91;
}

.nav-justified {
  padding-left: 0;
  li {
    padding: 0;
  }
  li a {
    padding-top: 0.3em;
    display: block;
    height: 100%;
    color: #6EAF19;
    text-decoration: none;
  }
  li:hover a {
    display: block;
    color: #EDFDD7;
    text-decoration: none;
  }
}

.active:hover {
  color: #EDFDD7;
  background-color: #6EAF19;
}

.text-color-dark-green {
  color: #6EAF19;
}

.btn-female:hover {
  color: #fcd6e6;
  background-color: #e1337c;
}

.btn-unknown {
  color: #8cc148;
  background-color: #EDFDD7;
}

.btn-unknown:hover {
  color: #EDFDD7;
  background-color: #8cc148;
}

.btn-female {
  color: #e1337c;
  background-color: #fcd6e6;
}

.btn-male {
  color: #175886;
  background-color: #d5e9f7;
}

.btn-male:hover {
  color: #d5e9ee;
  background-color: #327fb6;
}


.authors-title
{
  margin-top: 1em;
  padding-top: 5px;
  padding-right: 15px;
  color: #175886;
  background-color: #94cef7;
  height: 35px;
  vertical-align: middle;
}

.table-movie-month {
  background-color: #ffeed9;
  color: #B74474;
}

.table-more-inf {
  color: #327FB6;
  background-color: #D5E9F7;
}

.table-more-inf:hover {
  color: #D5E9F7;
  background-color: #327FB6;
}

.table-tr {
  color: black;
  background-color: white;
}

.table-tr:hover {
  color: black;
  background-color: #f5f5f5;
}

