<% if @movie.ratings.count == 0 %>
    <span>(еще никто не проголосовал)</span>
<% else %>
    <span id="stars_count" hidden="hidden"><%= @movie.ratings.average(:value).round%></span>
    <span id="rating_stars" class="passiveRating">
                <input id="rating5" type="radio" value="5" disabled><label for="rating5">5</label>
                <input id="rating4" type="radio" value="4" disabled><label for="rating4">4</label>
                <input id="rating3" type="radio" value="3" disabled><label for="rating3">3</label>
                <input id="rating2" type="radio" value="2" disabled><label for="rating2">2</label>
                <input id="rating1" type="radio" value="1" disabled><label for="rating1">1</label>
              </span>
<% end %>

<% if user_signed_in? %>
    <% if @movie.ratings.find_by(user_id: current_user.id) %>
        <span class="ml-5 ">
                        <span class="font-dark-green">Твой голос уже учтен (</span>
          <% @movie.ratings.find_by(user_id: current_user.id).value.times do %>
                            <img src="<%= image_path 'star-on.svg' %>" width="12" height="12"/>
                        <% end %>
          <span>)</span>
                      </span>
    <% else %>
        <a class="ml-5 font-dark-green" href="#ratingModal">Проголосуй</a>
    <% end %>
<% else %>
    <span class="ml-5"><%= link_to('Зарегистрируйся', new_user_registration_path, class: 'link-reg') %> или </span>
    <span><%= link_to('Войди', new_user_session_path, class: 'font-dark-green') %>, чтобы проголосовать</span>
<% end %>
