<div class="page-header">
  <h1><strong class="title font-broadway">PRO Кино</strong><strong class='title font-cambria'>. </strong><small class='title font-cambria'>Сайт о кино и не только</small></h1>
</div>
<blockquote>
  <div class="h100perc"><span class="font-dark-green font-cambria font-size-19">Кинематограф</span> <span class="font-georgia">(от греч. κινημα, род. п. κινηματος — движение и греч. γραφω — писать, рисовать; то есть «записывающий движение») — отрасль человеческой деятельности, заключающаяся в создании движущихся изображений. Иногда также упоминается как синемато́граф (от фр. cinématographe, устар.) и кинематогра́фия. Кинематограф был изобретён в конце XIX века и стал крайне популярев XX веке.</span>
    <p class="mt-5 font-georgia">В понятие кинематографа входят киноиску́сство — вид современного изобразительного искусства, произведения которого создаются при помощи движущихся изображений, и киноиндустрия (кинопромышленность) — отрасль экономики, производящая кинофильмы, спецэффекты для кинофильмов, мультипликацию, и демонстрирующая эти произведения для зрителей. Произведения киноискусства создаются при помощи кинотехники. Изучением кинематографа занимается наука кинове́дение. Сами кинофильмы могут сниматься в различных жанрах игрового и документального кино.</p>
    <p class="font-georgia">Кинематограф занимает значительную часть современной культуры многих стран. Во многих странах киноиндустрия является значимой отраслью экономики. Производство кинофильмов сосредоточено на киностудиях. Фильмы демонстрируются в кинотеатрах, по телевидению, распространяются «на видео» в форме видеокассет и видеодисков, а с появлением скоростного интернета стало доступным скачивание кинофильмов в форме видеофайлов на специализированных сайтах или посредством пиринговых сетей, а также просмотр онлайн (что может нарушать права правообладателей кинофильма).</p>
    <a href="https://ru.wikipedia.org/" target="_blank" class="font-size-14">Wikipedia</a></div>
</blockquote>

